@use './layouts' as l;
@use './myvariables' as v;
@use './designElement' as d;
@use './neumorphismus' as n;
@use './glassMorphismus' as g;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap');

@font-face {
  font-family: "HeydingsControlsRegular";
  src: url("fonts/heydings_controls-webfont.eot");
  src: url("fonts/heydings_controls-webfont.eot?#iefix") format("embedded-opentype"),
    url("fonts/heydings_controls-webfont.woff") format("woff"),
    url("fonts/heydings_controls-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --youtube-red: red;
}


*,
*:before,
*:after {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 1%, rgb(102, 1, 1, 0.7) 4%, rgba(255, 0, 0, 0.7) 12%,
      rgb(247, 59, 59, 0.6) 20%, rgba(255, 0, 0, 0.6) 35%, white);
  perspective: 1000px;
  transform-style: preserve-3d;
}

.contCentral {
  @include d.designContainerCentral;
  margin: 0%;
  width: 100vw;
  height: 100vh;
  gap: 0.5%;

  &>.contLogos {
    @include l.layoutFlexboxRowCenter;
    @include g.displayGlassmorphismus;
    backdrop-filter: blur(1.6px);
    width: 80%;
    height: 12vh;
    padding: 0.5%;
    margin: 1% auto;
    margin-bottom: 0.6%;
    border-radius: 6px;

    &>.headerTitle {
      @include d.desigHeader (transparent);

      &>.title {
        @include d.desig_H_element (v.$colorHell, 2.1rem);
      }
    }
  }

  &>.mainProgram {
    @include l.layoutFlexboxColumCenter;
    @include g.displayGlassmorphismus;
    margin: 0%;
    padding: 0%;
    backdrop-filter: blur(1.6px);
    width: 80%;
    height: 80vh;
   
    border-radius: 6px;

    &>.recognition {
      @include l.layoutFlexboxRowCenter;
      margin: 0% auto;
      padding: 0%;
      gap: 0.3%;

      &>.contWebCam {
        @include l.layoutFlexboxRowCenter;
        margin: 0% auto;
        padding: 0%;
        width: 900px;
        height: 580px;
        border-radius: 6px;
      }

      &>.notActivCam {
        @extend .contWebCam;
        @include g.GlassMorphismus5;
      }

      &>.ActivCam {
        @extend .contWebCam;
        @include g.GlassMorphismus6;
      }

      &>.contPhoto {
        @include n.neuMorphismus3;
        @include l.layoutFlexboxColumCenter;
        justify-content: flex-start;
        margin: auto 2%;
        margin-left: 0%;
        width: 490px;
        height: 580px;
        border-radius: 6px;
        gap: 2%;

        &>canvas {
          @include l.layoutFlexboxRowCenter;
          width: '190px';
          height: '280px';
          margin: 0% auto;
          margin-top: 3%;
          padding: 0%;
          border: '2px solid v.$backgroundColorDunkelGray5';
          border-radius: '6px';
          background-color: v.$backgroundColorBlack;

          &:nth-child(2) {
            background: v.$gradientSliceBluedark;
          }
        }
      }
    }
  }

  &>.contButtons {
    @include g.displayGlassmorphismus;
    @include l.layoutFlexboxRowCenter;
    width: 80%;
    height: 10vh;
    justify-content:flex-start;
    backdrop-filter: blur(1.6px);
    margin: 0.5%;
    margin-bottom: 2%;
    padding: 0.8% 2%;
    border-radius: 6px;
    gap: 5%;

    &>.contCheckboxes {
      @include l.layoutFlexboxRowCenter;
      width: 12.6rem;
      margin: 0%;
      padding: 1%;

      &>fieldset {
        @include l.layoutFlexboxRowCenter;
        margin: 2% auto;
        padding: 0.3%;
        border: 1px solid v.$backgroundColorDunkelGray;

        &>legend {
          @include d.configurationLabel (v.$backgroundColorIni2, 0.5rem);
          margin: 2% 4%;
          padding: 0% 2%;
          text-align: start;
        }

        &>.contLabel {
          @include l.layoutFlexboxRowCenter;
          @include n.teclaNeumorphismus1;
          width: 90px;
          margin: 2% auto;
          padding: 1.6% 3.6%;
          border-radius: 3px;
          transition: all ease 0.35s;

          &:hover, &:focus {
            cursor: pointer;
            @include n.teclaNeumorphismus1Hover;
            border-radius: 3px;
          }
          &.active {
            @include n.teclaNeumorphismusGreen;
            border-radius: 3px;
          }

          &>.figureIcon {
            @include d.figure;
            width: 36px;
            height: 36px;
            margin: 0% auto;
            margin-bottom: 2%;
            padding: 0%;

            &>.iconRecog {
              @include l.layoutFlexboxRowCenter;
              width: 36px;
              height: 36px;
              margin: 0% auto;
              padding: 1%;
              border: 1px solid 'white';
            }
          }

          &>.selectRecog {
            @include l.layoutFlexboxRowCenter;
            margin: 0% auto;
            padding: 0%;
            transform: scale(2.4);
          }
        }
      }
    }

    &>.contButtonsSelect {
      @include l.layoutFlexboxRowCenter;
      width: 18rem;
      height: 78px;
      margin: 0%;
      margin-top: 1%;
      padding: 3%;
      gap: 12%;

      &>.button {
        @include l.layoutFlexboxRowCenter;
        margin: 0% 2%;
      }
    }
  }
}

#myCanvasCamera {
  position: absolute;
  top: 0%;
  left: 0%;
  margin: 0%;
  padding: 0%;
  z-index: 100;
}

a {
  @include l.layoutFlexboxRowCenter;
  width: 3.2rem;
  height: 3.2rem;
  margin: 0% auto;
  padding: 0% 3%;

  &>img {
    width: 2.8rem;
    height: 2.8rem;
    padding: 2%;
    fill: v.$backgroundColorIniWhite;
    stroke: v.$backgroundColorHellGrayT;

    cursor: pointer;
  }
}

.react {
  @extend a;
  border-radius: 50%;
  animation: rotate linear 12s infinite forwards;

}


//  Animations    //////////////////////////////////////////////////////////
@keyframes rotate {
  from {
    transform: rotate(0deg);
    box-shadow: v.$boxShadow9;
  }

  to {
    transform: rotate(720deg);
    box-shadow: v.$boxShadow12;
  }
}

@keyframes titleMove {
  0% {
    opacity: 0.5;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(100%);
  }
}